.settings__setting {
  padding: 20px 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;

  font-size: 20px;
  color: var(--background-color);
}

.settings__setting span {
  color: var(--background-color);
}
.settings__setting-column:last-child {
  opacity: 0.2;
}
