@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Rubik:wght@400;500;600;700;800&display=swap");

#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-image: url("https://i.redd.it/imkv74m4q5g41.png");
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  color: whitesmoke;
  font-family: "Bree Serif", serif;
  font-family: "Rubik", sans-serif;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
